.Comment { color: #909090; }
.Statement { color: #0050b0; }
.Special { color: #703080; }
.PreProc { color: #b07000; }
.Constant { color: #008000; }
.Type { color: #0070a0; }
.Identifier { color: #008898; }
.cPreCondit { color: #b07000; }
