@font-face {
    font-family: 'Droid Serif';
    src: url('fonts/DroidSerif-Regular-webfont.eot');
    src: url('fonts/DroidSerif-Regular-webfont.eot%3F') format('embedded-opentype'),
         url('fonts/DroidSerif-Regular-webfont.woff2') format('woff2'),
         url('fonts/DroidSerif-Regular-webfont.woff') format('woff'),
         url('fonts/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('fonts/DroidSerif-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('fonts/DroidSerif-Italic-webfont.eot');
    src: url('fonts/DroidSerif-Italic-webfont.eot%3F') format('embedded-opentype'),
         url('fonts/DroidSerif-Italic-webfont.woff2') format('woff2'),
         url('fonts/DroidSerif-Italic-webfont.woff') format('woff'),
         url('fonts/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('fonts/DroidSerif-Italic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('fonts/AnonymousPro-webfont.eot');
    src: url('fonts/AnonymousPro-webfont.eot%3F') format('embedded-opentype'),
         url('fonts/AnonymousPro-webfont.woff2') format('woff2'),
         url('fonts/AnonymousPro-webfont.woff') format('woff'),
         url('fonts/AnonymousPro-webfont.ttf') format('truetype'),
         url('fonts/AnonymousPro-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
  margin-left: 1em;
  margin-right: 1em;
  color: #211a1a;
  font-family: "Droid Serif", serif;
}

h1, h2, h3, h4 {
  font-weight: 500;
  color: #444;
}

h1 a, h2 a, h3 a, h4 a {
    text-decoration: none;
}

pre {
  font-family: "Anonymous Pro", monospace;
  padding-left: 14px;
  font-weight: 500;
}

code {
  font-family: "Anonymous Pro", monospace;
  font-size: 90%;
  font-style: normal;
  background-color: #f9f9f9;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid #e9e9e9;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
}

a { color: #4f94cd; }
a:hover { color: #a4d3ee; }
a:visited { color: #36648b; }

img {
  border: none;
}

li, p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

p.eq {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 1.5in;
  margin-right: 1.5in;
}

td {
  vertical-align: top;
  padding-left: 1px;
  padding-right: 4px;
}

#content {
  border-top: 2px solid #cab791;
  border-bottom: 2px solid #9e8f70;
}

#article {
  max-width: 8in;
  border-top: 2px solid #336699;
  border-bottom: 2px solid #336699;
  padding-bottom: 20px;
}

p.timestamp {
  max-width: 7in;
  text-align: center;
  font-style: oblique;
  font-size: 0.9em;
  color: #5d6d68;
}

thead {
  font-weight: bold;
}
