@import url('/reset.css');

@font-face {
  font-family: "Gentium";
  font-style: normal;
  font-weight: normal;
  src: url("/GentiumPlus-R.woff") format("woff");
}
@font-face {
  font-family: "Gentium";
  font-style: italic;
  font-weight: normal;
  src: url("/GentiumPlus-I.woff") format("woff");
}
@font-face {
  font-family: "Gentium";
  font-style: normal;
  font-weight: bold;
  src: url("/GentiumBasic-B.woff") format("woff");
}
@font-face {
  font-family: "Gentium";
  font-style: italic;
  font-weight: bold;
  src: url("/GentiumBasic-BI.woff") format("woff");
}

@font-face {
  font-family: "Latin Modern Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/LatinModernMono-R.woff") format("woff");
}

html {
  font-size: 12pt;
  line-height: 12pt;
}

body {
  font-family: 'Gentium', Georgia, serif;
  width: 65%;
  margin: 1rem 0 1rem 5%;
  color: #333;
  font-size: 1rem;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

header {
  margin: 1rem 0 0.5rem 0;
}

header img {
  width: 10%;
}

header h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0;
}
header h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-style: italic;
  margin: 0;
  margin-left: 1em;
}

footer {
  margin: 0.5em 0;
  font-style: italic;
}

blockquote {
  margin: 0.5em 1em;
}

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
   font-size: 0.75rem;
}
sub { top: 0.4em; }

p + p { text-indent: 1em; }

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0.5rem 0 0.25rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0.25rem 0 0 0;
}

hr {
  font-size: 1.5rem;
  line-height: 2rem;
  border: none;
  margin-top: 0;
  text-align: center;
  color: #777;
  padding: 0.75rem;
}
hr:before {
  content: '\A7';
}

/* 
.footnotes > hr:before {
  content: '\B7  \B7  \2022  \B7  \B7';
}
 */

dd {
  margin-left: 1rem;
}

figure {
  margin: 0.75rem 0;
}

a:link, a:visited {
  color: rgb(26,72,133);
}
a:hover, a:active { color: rgb(59,97,158); }

.sc {
  text-transform: uppercase !important;
}

pre, code, tt, kbd { font-family: 'Latin Modern Mono', monospace; font-size: 104%; line-height: 96.1%; }

pre {
  white-space: pre-wrap;
  margin: 0.5rem 0;
}

td, th {
  padding-right: 0.5em;
}

li {
  margin-left: 1.5em;
}
ul > li { list-style-type: disc; list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="10" height="10"><text x="2" y="12.5" style="font-size: 16pt; fill: %23444;">&%23x2022;</text></svg>'); }

ul > li ol > li { list-style-type: decimal; list-style-image: none; }

