%h1 On Licensing Photographs

%p
  When you design and create or build something your are its originator and
  therefore you are the copyright holder. For most physical objects this is not
  a deep concept because you cannot clone them. In software this is a huge
  concept because copying is not only possible but trivial.  Licensing confers
  some of the properties of ownership to others, and allows you to distribute
  material digitally.

%p
  Before digitizing came along it was not possible to make a clone of a
  photograph because only one person (usually the copyright holder) had the
  positive or negative from which prints could be made. You could transfer
  ownership by handing them to someone else. If you use film to take photos this
  is still the case, but there is a new kind of artifact that can be licensed:
  the digital scan itself.

%p
  Photos are interesting for another reason: they are not information, they are
  reflections of subjects that you did not create. Licenses that deal with
  written documents (such as Creative Commons) don't account for this in any
  way. In order to give these rights back I use the following language to share
  the ownership of digital scans

:codeblock
  Copyright:
    Eric Radman <ericshane@eradman.com>
    8 Tudor Dr. / Endicott, NY 13760

  Release Date: July 13, 2015

  Permission is granted to [Names-of-Persons] to copy, modify,
  distribute, or re-license the photos listed at the URL/FILES below for
  any commercial or non-commercial purpose with or without attribution.

  URL: http://my.site/photos/...

  File list:
    9990001.jpg
    9990002.jpg
    ...

%p
  When a corporation has requested a line of permission I will
  additionally add a paragraph that gives them the right to use these
  images

:codeblock
  By extension, [Name-of-Corporation] and its associates are authorized
  to use the photos listed in the URL below in any printed material they
  produce or Internet-based content they maintain.

