%h1 Integration Testing with Selenium and PhantomJS

%p
  Writing integration tests for a web app is not very difficult to set up
  thanks to <a href="https://github.com/detro/ghostdriver">ghostdriver</a>, which
  is built into <a href="http://phantomjs.org/">phantomjs</a>.

%h2
  Prerequisites

%p
  On OpenBSD add the following packages

:codeblock
  doas pkg_add jre phantomjs python-3.4.1p1 py3-pip

%p
  Then fetch Selenium and install the Python module:

:codeblock
  doas pip3.4 install selenium
  ftp $url

%h2 Runtime

%p
  The selenium server (port <em>4444</em>) and an instance of phantomjs (port
%em
  8080</em>) must be running first

:codeblock
  :::sh
  java -jar selenium-server-standalone-2.42.2.jar &
  phantomjs --webdriver=8080 --webdriver-selenium-grid-hub=http://127.0.0.1:4444 &

%h2 Your First Test

:codeblock
  :::python
  #!/usr/local/bin/python3.3

  from selenium import webdriver

  browser = webdriver.PhantomJS(executable_path="/usr/local/bin/phantomjs")
  browser.get("http://openbsd.org/")

  assert "OpenBSD" in browser.title
  print("DONE")

%p
  For further reading see the <a
  href="http://selenium.googlecode.com/git/docs/api/py/api.html">Selenium
  Documentation</a>.

